<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Provider</string>
	<key>CFBundleName</key>
	<string>Provider</string>
	<key>CFBundleIdentifier</key>
	<string>com.Presto.Provider</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.1</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Calibri.ttf</string>
		<string>Fonts/Lato-Regular.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Xamarin.Auth Google OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.681806121576-2s91or0v52qkqvp952cgt9466aoblcbs</string>
			</array>
			<key>CFBundleURLTypes</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>0.1.2</string>
	<key>Privacy-CameraUsageDescription</key>
	<string>Camera usage to take photo of dish</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo Library to select image of dish</string>
	<key>CFBundleVersion</key>
	<string>18</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
</dict>
</plist>
